@{
    ViewBag.Title = "Contact US";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/simplePagination.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/jquery.simplePagination.js"></script>
@*@Styles.Render("~/Content/jqGridCss")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqGrid")*@


<div class="row">

    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div class="col-lg-12">
        <br />
       <p style="text-align:right;"><a class="btn btn-primary btn-default" href="/bussinesscard/Create">Add</a></p>
    </div>


    <div class="col-md-12" >
        <table id="tblBusinessCardDetails" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>MobileNumber</td>
                    <td>EmailId</td>
                    <td>OrganisationName</td>
                    <td>Postion</td>
                    <td style="text-align:right;">Actions</td>
                </tr>
                
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="businessCardPager">
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are You Sure You Want To Delete This?</p>
        <input type="button" value="Delete" id="delete" class="btn btn-primary">
        <input type="button" value="Cancel" id="cancel" class="btn btn-default">
    </div>

</div>


    <script type="text/javascript">
        $(document).ready(function () {
            LoadContactDetails();
        });

        function LoadContactDetails() {
            var result = [
                {
                    id: "20",
                    fullName: "ABC XYZ",
                    mobileNumber: "9876543210",
                    emailId: "9876543210",
                    organisationName: "GlobalLogic",
                    positionName: "Manager"
                },
            {
                id: "21",
                fullName: "ABC XYZ",
                mobileNumber: "9876543210",
                emailId: "9876543210",
                organisationName: "GlobalLogic",
                positionName: "Manager"
            },
            {
                id: "22",
                fullName: "ABC XYZ",
                mobileNumber: "9876543210",
                emailId: "9876543210",
                organisationName: "GlobalLogic",
                positionName: "Manager"
            }
            ];

            var count = 10
            var page = 1;
            rows = 10;
            sort = 'asc';

            var actionButtions = "<span class='ui-icon ui-icon-trash iconAllignment' title='Delete' onclick='Delete(itemId)'></span><span class='ui-icon ui-icon-pencil iconAllignment' title='Edit' onclick='Edit(itemId)'></span><span class='ui-icon ui-icon-newwin iconAllignment' title='View' onclick='View(itemId)'>"
            var tableId = $("#tblBusinessCardDetails tbody")
            result.forEach(function (item, index) {
                tableId.append("<tr><td>" + item.fullName + "</td><td>" + item.mobileNumber + "</td><td>" + item.emailId + "</td><td>" + item.organisationName + "</td><td>" + item.positionName + "</td><td>" + actionButtions.replace(/\itemId/g, item.id) + "</td></tr>")
            });

            $("#businessCardPager").pagination({
                items: 20,
                itemsOnPage: 3,
                cssStyle: 'light-theme'//,
                //displayedPages: 5
            });

        }

        function View(id) {
            alert("View" + id);
        }

        function Edit(id) {
            alert("Edit" + id);
        }

        function Delete(id) {
            $("#myModal").show();
        }

        $("#delete").click(function () {
            alert("Deleted");
            $("#myModal").hide();
        });

        $("#cancel").click(function () {
            alert("hide");
            $("#myModal").hide();
        });


        $(".close").click(function () {
            alert("hide");
            $("#myModal").hide();
        });

       
    </script>
