@model BussinessCard.Web.Models.UserContactViewModel

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.js"></script>

<div id="myOverlay"></div>
<div id="loadingGIF">
    <h4 class="text-center text-info">Processing....</h4>
</div>

<h2>Contact Us</h2>
<hr />
<form id="CreateContact" enctype='multipart/form-data'>
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <span class="field-validation-error text-danger" id="errorMsg"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="firstName" name="firstName" maxlength="150" />
                <span class="field-validation-error text-danger hide" data-valmsg-for="firstName"> Please enter the FirstName.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastName" name="lastName" maxlength="150" />
                <span class="field-validation-error text-danger hide" data-valmsg-for="lastName"> Please enter the LastName.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"><label>Email Id</label></div>
            <div class="col-sm-8"><input type="text" class="form-control" id="emailId" name="emailId" maxlength="200" />
                <span class="field-validation-error text-danger hide" data-valmsg-for="emailId"> Please enter correct Email Id.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"><label>Mobile Number</label></div>
            <div class="col-sm-8"><input type="text" class="form-control" id="mobileNumber" name="mobileNumber" maxlength="10" />
                <span class="field-validation-error text-danger hide" data-valmsg-for="lastName"> Please enter correct Mobile Number.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"><label>Alternate Mobile  Number</label></div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="alternateNumber" name="alternateNumber" maxlength="10" />
                <span class="field-validation-error text-danger hide" data-valmsg-for="alternateNumber"> Please enter the correct Alternate Mobile Number.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"><label>Organisation Name</label></div>
            <div class="col-sm-8">
                <select id="organisationName" name="organisationName" class="form-control">
                    <option value="1" selected>Global Logic</option>
                </select>
                <span class="field-validation-error text-danger hide" data-valmsg-for="organisationName"> Please select Organisation Name.</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"><label>Postion Name</label></div>
            <div class="col-sm-8">
                <select id="positionName" name="positionName" class="form-control">
                    <option value="0"> Select</option>
                    <option value="1">Lead</option>
                    <option value="2">Manager</option>
                </select>
                <span class="field-validation-error text-danger hide" data-valmsg-for="positionName"> Please select Position Name.</span>
            </div>

        </div>
    </div>
    <div>
        <div class="container">
            <h4 class="float-left">Address Details</h4>
        </div>
        <div class="multi-fields-wrapper container">
            <div class="multi-fields">
                <div class="multi-address-field">
                    <div class="form-group row">
                        <div class="col-sm-4"><label>Address Type</label></div>
                        <div class="col-sm-8">
                            <select id="addressType" name="addressType" class="form-control">
                                <option value="0" selected>Select</option>
                                <option value="6411641C-F93C-4923-8D28-21FD0F36ADD6" >Organisation</option>
                                <option value="5D4A13FB-58C9-443F-9CD3-30E0E2F4F407">Residential</option>
                                
                            </select>
                            <span class="field-validation-error text-danger hide" data-valmsg-for="addressType"> Please select the Address Type.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4"><label>Country</label></div>
                        <div class="col-sm-8">
                            <select id="country" name="country" class="form-control">
                                @*<option value="0" >Select</option>*@
                                <option value="102" selected>India</option>
                                @*<option value="2" >US</option>*@
                            </select>
                            <span class="field-validation-error text-danger hide" data-valmsg-for="country"> Please select the Country.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4"><label>State</label></div>
                        <div class="col-sm-8">
                            <select id="state" name="state" class="form-control">
                                <option value="0">Select</option>
                                <option value="1">Uttar Pradesh</option>
                                <option value="2">Andhra Pradesh</option>
                                <option value="3">Arunachal Pradesh</option>
                            </select>
                            <span class="field-validation-error text-danger hide" data-valmsg-for="state"> Please select the State.</span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-4"><label>Pincode</label></div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pincode" name="pincode" maxlength="6" />
                            <span class="field-validation-error text-danger hide" data-valmsg-for="pincode"> Please enter the correct Pincode.</span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-4"><label>Street</label></div>
                        <div class="col-sm-8">
                            <textarea id="street1" name="street1" maxlength="250" class="form-control"></textarea>
                            <span class="field-validation-error text-danger hide" data-valmsg-for="street1"> Please enter the Street.</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"><label>Street 2</label></div>
                        <div class="col-sm-8">
                            <textarea id="street2" name="street" maxlength="250" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
               
            </div>
            <br />
        </div>
        </div>
   
    <div class="form-group row">
        <input type="hidden"  id="contactId"/>
        <input type="hidden" id="addressId" />
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" id="btnEdit">Edit</button>
            <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
            <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
            <button type="reset" class="btn btn-default" id="btnReset">Reset</button>
            <a  class="btn btn-default" href="/bussinesscard/Index">Cancel</a>
        </div>
    </div>
</form>



<script type="text/javascript">

    $(document).ready(function () {
        LoadInitial();
    });

    $("#btnEdit").click(function () {
        $("#btnSubmit").hide();
        $("#btnUpdate").show();
        $("#btnEdit").hide();
        $("#btnReset").hide();
        $("input").prop('disabled', false);
        $("select").prop('disabled', false);
        $("textarea").prop('disabled', false);
    });

    function LoadInitial(){
        var actionItem = "@ViewBag.Action";
        $("#errorMsg").hide();
        if(actionItem == "Edit"){
            $("#btnSubmit").hide();
            $("#btnUpdate").show();
            $("#btnEdit").hide();
            $("#btnReset").hide();
            $("input").prop('disabled', false);
            $("select").prop('disabled', false);
            $("textarea").prop('disabled', false);
            GetUserDetailById();

        } else if(actionItem == "View"){
            $("#btnSubmit").hide();
            $("#btnUpdate").hide();
            $("#btnEdit").show();
            $("#btnReset").hide();
            $("input").prop('disabled', true);
            $("select").prop('disabled', true);
            $("textarea").prop('disabled', true);
            GetUserDetailById();
        }
        else if (actionItem == "Create") {
            $("#btnSubmit").show();
            $("#btnUpdate").hide();
            $("#btnEdit").hide();
            $("#btnReset").show();
        }
    }

    $("#btnEdit").click(function () {
        $(this).hide();
        $("#btnUpdate").show();
    });

    $("#btnUpdate").click(function () {
        if (ValidateForm()) {
            window.scrollTo(0, 0);
            //DisableScrolling();
            $("#btnUpdate").disabled = true;

            $.ajax({
                type: "PUT",
                url: "http://localhost:63812/updateUser",
                cache: false,
                //dataType: "json",
                data: FormatData(),
                success: function (result) {
                    $("#errorMsg").hide();
                    window.location.href = "http://localhost:50439/bussinessCard/index";
                    //EnableScrolling();
                }, //End of AJAX Success function
                failure: function (data) {
                    $("#errorMsg").show().text("Something went wrong, please contact to administrator.");
                    $("#btnUpdate").disabled = false;
                    //EnableScrolling();
                }, //End of AJAX failure function
                error: function (data) {
                    $("#errorMsg").show().text("Something went wrong, please contact to administrator.");
                    $("#btnUpdate").disabled = false;
                    //EnableScrolling();
                }
            });
        }
    });

    $("#btnSubmit").click(function () {
        if (ValidateForm()) {
            window.scrollTo(0, 0);
            //DisableScrolling();
            $("#btnSubmit").disabled = true;
            //$('#myOverlay').show();
            //$('#loadingGIF').show();

            $.ajax({
                type: "POST",
                url: "http://localhost:63812/createUser/",
                cache: false,
                //dataType: "json",
                data: FormatData(),
                success: function (result) {
                    $("#errorMsg").hide();
                    window.location.href = "http://localhost:50439/bussinessCard/index";
                    //$('#myOverlay').hide();
                    //$('#loadingGIF').hide();
                    EnableScrolling();
                }, 
                failure: function (data) {
                    $("#errorMsg").show().text("Something went wrong, please contact to administrator.");
                    //$('#myOverlay').hide();
                    //$('#loadingGIF').hide();
                    $("#btnSubmit").disabled = false;
                   // EnableScrolling();
                },
                error: function (data) {
                    $("#errorMsg").show().text("Something went wrong, please contact to administrator.");
                    //$('#myOverlay').hide();
                    //$('#loadingGIF').hide();
                    $("#btnSubmit").disabled = false;
                    //EnableScrolling();
                } 
            });
        }
    });

    function GetUserDetailById() {
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('/') + 1);

        $.ajax({
            type: "GET",
            url: "http://localhost:63812/getUsers/" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#errorMsg").hide();
                $("#contactId").val(result.id);
                $("#firstName").val(result.first_name);
                $("#lastName").val(result.last_name);
                $("#emailId").val(result.email);
                $("#mobileNumber").val(result.mob_no);
                $("#alternateNumber").val(result.alt_mob_no);
                $("#organisationName").val(result.organisation_id);
                $("#positionName").val(result.position_id);
                $("#addressId").val(result.address_id);
                if (result.address != null) {
                    $("#addressType").val(result.address.address_type);
                    $("#state").val(result.address.state_id);
                    $("#pincode").val(result.address.pincode);
                    $("#street1").val(result.address.street);
                    $("#street2").val(result.address.street_2);
                }
            }, //End of AJAX Success function

            failure: function (data) {
                $("#errorMsg").show().val("Something went wrong, please contact to administrator.");
            }, //End of AJAX failure function
            error: function (data) {
                $("#errorMsg").show().val("Something went wrong, please contact to administrator.");
            } //End of AJAX error function

        });
    }

    function FormatData()
    {
        let firstName = $("#firstName").val();
        let lastName = $("#lastName").val();
        let emailId = $("#emailId").val();
        let mobileNumber = $("#mobileNumber").val();
        let organisationId = $("#organisationName").val();
        let positionId = $("#positionName").val();
        let alternateMobileNumber = $("#alternateNumber").val();
        let addressType = $("#addressType").val();
        let country = $("#country").val();
        let state = $("#state").val();
        let pincode = $("#pincode").val();
        let street1 = $("#street1").val();
        let street2 = $("#street2").val();

        let action = "@ViewBag.Action";
        let contactId = $("#contactId").val();
        
        var object = new Object();

        object = {
                'first_name': firstName,
                'last_name': lastName,
                'email': emailId,
                'mob_no': mobileNumber,
                'organisation_id': organisationId,
                'position_id': positionId,
                'alt_mob_no': alternateMobileNumber,
                'address': {
                    'address_type': addressType,
                    'street': street1,
                    'street_2': street2,
                    'state_id': state,
                    'pincode': pincode
                }
        };

        if (action == "Edit") {
            object.id = contactId;
            object.address_id = $("#addressId").val();
        }

        return object;
    }

    function ValidateForm() {

        let isValid = true;
        let firstName = $("#firstName").val();
        let lastName = $("#lastName").val();
        let emailId = $("#emailId").val();
        let mobileNumber = $("#mobileNumber").val();
        let organisationId = $("#organisationName").val();
        let positionId = $("#positionName").val();
        let alternateMobileNumber = $("#alternateNumber").val();
        let addressType = $("#addressType").val();
        let country = $("#country").val();
        let state = $("#state").val();
        let pincode = $("#pincode").val();
        let street1 = $("#street1").val();
        let street2 = $("#street2").val();
        var emailRegex = "^([a-zA-Z .&'-]+)$";
        var phoneNumberRegex = new RegExp(/^[0-9]+$/);
        var pinCodeRegex = "^\d{5}(-\d{4})?$";

        HideShownError();

        if (firstName == undefined || firstName.length <= 0) {
            $("#firstName").next("span").removeClass("hide").addClass("show");
            $("#firstName").focus();
            isValid = false;
        }

        if (lastName == undefined || lastName.length <= 0) {
            $("#lastName").next("span").removeClass("hide").addClass("show");
            $("#lastName").focus();
            isValid = false;
        }

        if (emailId == undefined || emailId.length <= 0 || emailId.match(emailRegex) != null) { //|| emailId.match(mailformat))
            $("#emailId").next("span").removeClass("hide").addClass("show");
            $("#emailId").focus();
            isValid = false;
        }


        if (mobileNumber == undefined || mobileNumber.length <= 0 || !phoneNumberRegex.test(mobileNumber)) {
            $("#mobileNumber").next("span").removeClass("hide").addClass("show");
            $("#mobileNumber").focus();
            isValid = false;
        }

        if (positionId == undefined || positionId.length <= 0 || positionId <= 0) {
            $("#positionName").next("span").removeClass("hide").addClass("show");
            $("#positionName").focus();
            isValid = false;
        }

        if (alternateMobileNumber != undefined && alternateMobileNumber.length > 0 && !phoneNumberRegex.test(alternateMobileNumber)) {
            $("#alternateNumber").next("span").removeClass("hide").addClass("show");
            $("#alternateNumber").focus();
            isValid = false;
        }


        if (organisationId == undefined || organisationId.length <= 0 || organisationId <= 0) {
            $("#organisationName").next("span").removeClass("hide").addClass("show");
            $("#organisationName").focus();
            isValid = false;
        }

        if (addressType == undefined || addressType.length <= 0 || addressType <= 0 ) {
            $("#addressType").next("span").removeClass("hide").addClass("show");
            $("#addressType").focus();
            isValid = false;
        }

        if (country == undefined || country.length <= 0 || country <= 0) {
            $("#country").next("span").removeClass("hide").addClass("show");
            $("#country").focus();
            isValid = false;
        }

        if (state == undefined || state.length <= 0 || state <= 0) {
            $("#state").next("span").removeClass("hide").addClass("show");
            $("#state").focus();
            isValid = false;
        }

        if (pincode == undefined || pincode.length <= 0 || pincode.match(pinCodeRegex) != null) {
            $("#pincode").next("span").removeClass("hide").addClass("show");
            $("#pincode").focus();
            isValid = false;
        }

        if (street1 == undefined || street1.length <= 0) {
            $("#street1").next("span").removeClass("hide").addClass("show");
            $("#street1").focus();
            isValid = false;
        }

        return isValid;
    }

    function HideShownError()
    {
        $("input").next("span").removeClass("show").addClass("hide");
        $("select").next("span").removeClass("show").addClass("hide");
    }

    function DisableScrolling() {
        var scrollPosition = [
            self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
            self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        ];
        var html = jQuery('html'); // it would make more sense to apply this to body, but IE7 won't have that
        html.data('scroll-position', scrollPosition);
        html.data('previous-overflow', html.css('overflow'));
        html.css('overflow', 'hidden');
        window.scrollTo(scrollPosition[0], scrollPosition[1]);
    }

    function EnableScrolling() {
        var html = jQuery('html');
        var scrollPosition = html.data('scroll-position');
        html.css('overflow', html.data('previous-overflow'));
        window.scrollTo(scrollPosition[0], scrollPosition[1])

    }

</script>