@{
    ViewBag.Title = "Contact US";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/simplePagination.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.js"></script>
<script src="~/Scripts/jquery.simplePagination.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <br />
       <p style="text-align:right;"><a class="btn btn-primary btn-default" href="/bussinesscard/Create">Add</a></p>
    </div>


    <div class="col-md-12" >
        <table id="tblBusinessCardDetails" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>MobileNumber</td>
                    <td>EmailId</td>
                    <td>OrganisationName</td>
                    <td>Postion</td>
                    <td style="text-align:right;">Actions</td>
                </tr>
                
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="businessCardPager">
        </div>
        <input type="hidden" name="itemId" id="itemId" />
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are You Sure You Want To Delete This?</p>
        <input type="button" value="Delete" id="delete" class="btn btn-primary">
        <input type="button" value="Cancel" id="cancel" class="btn btn-default">
    </div>

</div>


    <script type="text/javascript">
        $(document).ready(function () {
            LoadContactDetails();
        });

        function LoadContactDetails() {
            var count = 10
            var page = 1;
            rows = 10;
            sort = 'asc';

            var actionButtions = "<span class='ui-icon ui-icon-trash iconAllignment' title='Delete' onclick='Delete(itemId)'></span><a href='/bussinesscard/Edit/itemId'><span class='ui-icon ui-icon-pencil iconAllignment' title='Edit'></span></a><a href='/bussinesscard/GetContactDetail/itemId'><span class='ui-icon ui-icon-newwin iconAllignment' title='View'></a>"
            var tableId = $("#tblBusinessCardDetails tbody")
            tableId.empty();

            $.ajax({
                type: "GET",
                url: "http://localhost:63812/GetAllUsers",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result.forEach(function (item, index) {
                        tableId.append("<tr><td>" + item.FirstName + " " + item.LastName + "</td><td>" + item.MobileNo + "</td><td>" + item.Email + "</td><td>" + item.OrgansationID + "</td><td>" + item.PositionID + "</td><td>" + actionButtions.replace(/\itemId/g, item.Id) + "</td></tr>")

                    });

                    $("#businessCardPager").pagination({
                        items: result.length,
                        itemsOnPage: 3,
                        cssStyle: 'light-theme'//,
                        //displayedPages: 5
                    });
                }, //End of AJAX Success function  

                failure: function (data) {
                    alert(data.responseText);
                }, //End of AJAX failure function  
                error: function (data) {
                    alert("error" + data.responseText);
                } //End of AJAX error function  

            });

        }

        function Delete(id) {
            $("#itemId").val(id);
            $("#myModal").show();
        }

        $("#delete").click(function () {

            $.ajax({
                type: "DELETE",
                url: "http://localhost:63812/DeleteUsers/" + $("#itemId").val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                'Access-Control-Allow-Origin': '*',
                success: function (result) {
                    $("#myModal").hide();
                    LoadContactDetails();
                }, //End of AJAX Success function  

                failure: function (data) {
                    $("#myModal").hide();
                }, //End of AJAX failure function  
                error: function (data) {
                    $("#myModal").hide();
                } //End of AJAX error function  

            });
        });

        $("#cancel").click(function () {
            $("#myModal").hide();
        });


        $(".close").click(function () {
            $("#myModal").hide();
        });

       
    </script>
